<!doctype html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>Payment Aria</title>

</head>

<body>
    <div class='checkout_form'>

        <input type="amount" id='amount' placeholder ='Amount to pay'>
        <button id="pay">PAY NOW</button>
    </div>
    <script src="https://checkout.stripe.com/checkout.js">

    </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/handler.js"></script>


</body>

</html>