<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Your payment was successful</h1>
</body>

</html>